<h1>This is the brass page</h1>

# Brass Instruments
# ['Bugle', 'Cornet', 'Euphonium', 'Flugelhorn', 'Helicon', 'Horn', 'Mellophone', 'Trombone', 'Trumpet', 'Tuba']

<%= link_to 'Home', root_path %>