<h1>This is the Percussion page</h1>

# ['Acoustic Drum Set', 'Bells', 'Cymbals' 'Castanets', 'Congas', 'Electric Drum Set', 'Frame Drums', 'Hand Drums', 'Maracas', 'Xylophone']

<%= link_to 'Home', root_path %>