<h1>Strings Family</h1>

<%= link_to 'Home', root_path %>

<table>
  <thead>
  </thead>

  <tbody>
    <% Subcategory.where(category_id: '1').each do |name|%>
      <tr>
        <td><%= link_to name.instrument, "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>