@font-face {
  font-family: 'pacifico';
  src: url('https://fonts.googleapis.com/css?family=Pacifico');
}

#header .grid {  
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1fr 1fr 1fr 0.2fr;
    height: 30vh;
    background: #fff;
  }

#header .box {

}
  
#header .title {
    font-size: 150px;
    text-shadow: 4px 4px 4px #aaa;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0px;
    padding: 0px;
    grid-row: 2 / 5;
    grid-column: 2 / 3;
  }
  
#header .note_left {
    font-size: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  #header .note_right {
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }