<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <body style="">
    <h1>You have sold an Item!</h1>
    <p>
      Your product: <%=@product.title%>, has sold.<br>
      <%=number_to_currency(@product.price/100.0)%> has been sent to you.
    </p>
    <p>Please send your item to *ORDER TABLE > BUYER_ID.First_name BUYER_ID.Surname now.</p>
    Address:
        ORDER TABLE > Street_address
        ORDER TABLE > City
        ORDER TABLE > Postcode  
        ORDER TABLE > Country
  </body>
</html>