<h2>Thank you for purchasing 
    <strong>
        <%= @product.title %>
    </strong>
</h2>

<%= image_tag @product.image, width: '300' %>

<h2>From 
    <strong>
        <%= @product.user.username %>
    </strong> 
    For 
    <strong>
        <%= number_to_currency(@product.price/100.0) %>
    </strong>
</h2>