<style>
@font-face {
    src: url('https://fonts.googleapis.com/css?family=Pacifico');
  }

.fret-header {
    font-family: 'Pacifico', Cursive;
    text-align: Center;
    font-size: 30px;
    color: #000;
    text-decoration: none;
} 
</style>

<div class="fret-header">
    <a href="/"><h2>Don't Fret</h2></a>
</div>