<div class="navbar">
            <div class="strings_dropdown">
                <button class="strings_dropbtn">Strings
                </button>
                <div class="strings_dropdown-content">
                    <div class="subnav-col1">
                    <ul>
                        <li><a href="/strings/1">Banjo</a></li>
                        <li><a href="/strings/2">Cello</a></li>
                        <li><a href="/strings/3">Cittern</a></li>
                        <li><a href="/strings/4">Guitar</a></li>
                        <li><a href="/strings/5">Harp</a></li>
                    </ul>
                    </div>
                    <div class="subnav-col2">
                    <ul>
                        <li><a href="/strings/6">Lute</a></li>
                        <li><a href="/strings/7">Upright Bass</a></li>
                        <li><a href="/strings/8">Viola</a></li>
                        <li><a href="/strings/9">Violin</a></li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="woodwind_dropdown">
                <button class="woodwind_dropbtn">Woodwind
                </button>
                <div class="woodwind_dropdown-content">
                    <div class="subnav-col1">
                    <ul>
                        <li><a href="/woodwind/10">Clarinet</a></li>
                        <li><a href="/woodwind/11">Flute</a></li>
                        <li><a href="/woodwind/12">Oboe</a></li>
                        <li><a href="/woodwind/13">Pipe</a></li>
                    </ul>
                    </div>
                    <div class="subnav-col2">
                    <ul>
                        <li><a href="/woodwind/14">Recorder</a></li>
                        <li><a href="/woodwind/15">Reeds</a></li>
                        <li><a href="/woodwind/16">Saxophone</a></li>
                    </ul>
                    </div>
                </div>
            </div>

            <div class="percussion_dropdown">
                <button class="percussion_dropbtn">Percussion
                </button>
                <div class="percussion_dropdown-content">
                    <div class="subnav-col1">
                        <ul>
                            <li><a href="/percussion/17">Acoustic Drum Set</a></li>
                            <li><a href="/percussion/18">Bells</a></li>
                            <li><a href="/percussion/19">Cymbals</a></li>
                            <li><a href="/percussion/20">Castanets</a></li>
                            <li><a href="/percussion/21">Congas</a></li>
                        </ul>
                    </div>
                    <div class ="subnav-col2">
                        <ul>
                            <li><a href="/percussion/22">Electric Drum Set</a></li>
                            <li><a href="/percussion/23">Frame Drums</a></li>
                            <li><a href="/percussion/24">Hand Drums</a></li>
                            <li><a href="/percussion/25">Maracas</a></li>
                            <li><a href="/percussion/26">Xylophone</a></li>
                        </ul>
                    </div>
                </div>
            </div>            
        
            <div class="brass_dropdown">
                <button class="brass_dropbtn">Brass
                </button>
                <div class="brass_dropdown-content">
                    <div class="subnav-col1">
                        <ul>
                            <li><a href="/brass/27">Bugle</a></li>
                            <li><a href="/brass/28">Cornet</a></li>
                            <li><a href="/brass/29">Euphonium</a></li>
                            <li><a href="/brass/30">Flugelhorn</a></li>
                            <li><a href="/brass/31">Helicon</a></li>
                        </ul>
                    </div>
                    <div class="subnav-col2">
                        <ul>
                            <li><a href="/brass/32">Horn</a></li>
                            <li><a href="/brass/33">Mellophone</a></li>
                            <li><a href="/brass/34">Trombone</a></li>
                            <li><a href="/brass/35">Trumpet</a></li>
                            <li><a href="/brass/36">Tuba</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="keyboard_dropdown">
                <button class="keyboard_dropbtn">Keyboard
                </button>
                <div class="keyboard_dropdown-content">
                <div class="subnav-col1">
                    <ul>
                        <li><a href="/keyboard/37">Accordions & Concertinas</a></li>
                        <li><a href="/keyboard/38">Harpsichord</a></li>
                        <li><a href="/keyboard/39">Keyboard</a></li>
                        <li><a href="/keyboard/40">Piano</a></li>
                        <li><a href="/keyboard/41">Sound Synthesizers</a></li>
                    </ul>
                </div>
                </div>
            </div>
        
        
        </div>
    </div>