<div class="navbar">
            <div class="strings_dropdown">
                <button class="strings_dropbtn">Strings
                </button>
                <div class="strings_dropdown-content">
                <ul>
                <li><a href="#">Banjo</a></li>
                <li><a href="#">Cello</a></li>
                <li><a href="#">Cittern</a></li>
                <li><a href="#">Guitar</a></li>
                <li><a href="#">Harp</a></li>
                <li><a href="#">Lute</a></li>
                <li><a href="#">Upright Bass</a></li>
                <li><a href="#">Viola</a></li>
                <li><a href="#">Violin</a></li>
                </ul>
                </div>
            </div>

            <div class="woodwind_dropdown">
                <button class="woodwind_dropbtn">Woodwind
                </button>
                <div class="woodwind_dropdown-content">
                    <a href="#">Clarinet</a>
                    <a href="#">Flute</a>
                    <a href="#">Oboe</a>
                    <a href="#">Pipe</a>
                    <a href="#">Recorder</a>
                    <a href="#">Reeds</a>
                    <a href="#">Saxophone</a>
                </div>
            </div>

            <div class="percussion_dropdown">
                <button class="percussion_dropbtn">Percussion
                </button>
                <div class="percussion_dropdown-content">
                    <a href="#">Acoustic Drum Set</a>
                    <a href="#">Bells</a>
                    <a href="#">Cymbals</a>
                    <a href="#">Castanets</a>
                    <a href="#">Congas</a>
                    <a href="#">Electric Drum Set</a>
                    <a href="#">Frame Drums</a>
                    <a href="#">Hand Drums</a>
                    <a href="#">Maracas</a>
                    <a href="#">Xylophone</a>
                </div>
            </div>            
        
            <div class="brass_dropdown">
                <button class="brass_dropbtn">Brass
                </button>
                <div class="brass_dropdown-content">
                    <a href="#">Bugle</a>
                    <a href="#">Cornet</a>
                    <a href="#">Euphonium</a>
                    <a href="#">Flugelhorn</a>
                    <a href="#">Helicon</a>
                    <a href="#">Horn</a>
                    <a href="#">Mellophone</a>
                    <a href="#">Trombone</a>
                    <a href="#">Trumpet</a>
                    <a href="#">Tuba</a>
                </div>
            </div>

            <div class="keyboard_dropdown">
                <button class="keyboard_dropbtn">Keyboard
                </button>
                <div class="keyboard_dropdown-content">
                    <a href="#">Accordions & Concertinas</a>
                    <a href="#">Harpsichord</a>
                    <a href="#">Keyboard</a>
                    <a href="#">Piano</a>
                    <a href="#">Sound Synthesizers</a>
                </div>
            </div>
        
        
        </div>
    </div>